<app-navbar></app-navbar>
<section class="h-100 gradient-form" style="background-color: rgb(245, 192, 192);">
<!DOCTYPE html>
<html>

<body>
  <br>
<h1>Donate Blood Save Life</h1>
<div class="outer-grid">
<div class="inner-grid">
  <img src="assets/images/blood5.gif"/>
  <img src="assets/images/blood7.gif"/>
</div>
<div class="inner-grid">
  <img src="assets/images/blood6.gif"/>
  <img src="assets/images/blood1.png"/>
</div>
<div class="inner-grid">
  <img src="assets/images/blood9.gif"/>
  <img src="assets/images/blood4.gif"/>
</div>
</div>
</body>
</html>
</section>

<br>
<p class="small mb-0" style="text-align:center;">Address: Hospital Ampang, Jalan Mewah Utara, Taman Pandan Mewah, 68000 Ampang Jaya, Selangor. </p>
<p class="small mb-0" style="text-align:center;">Open Hours: 24 hours</p>
<p class="small mb-0" style="text-align:center;">Contact Number: 03-4289 6000</p>
